*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
:root{
    --color-0: #525252;
    --color-1: #8C53FF;
    --color-2: #B5B5B5;
    --color-3: white;
    --color-4: #7B7B7B;

    --main-title-size: 48px;
    --sub-title-size: 18px;
    
    --content-min-width: 1200px;
    --article-max-width: 1000px;
    --article-min-width: 700px;

    --mrg-t-l: 15px;
    --mrg-t-m: 30px;
    --mrg-t-h: 50px;
}

.poppins, .montserrat{
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    line-height: 130%;
    color: var(--color-0);
}
.montserrat{
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.02em;
}
.t-center{ text-align: center; }
.t-left{ text-align: left; }
.t-right{ text-align: right; }
.italic{ font-style: italic;}
.f-light{ font-weight: 300;}
.f-normal{ font-weight: 400;}
.f-medium{ font-weight: 500;}
.f-bold{ font-weight: 700;}
.f-semibold{ font-weight: 600;}

.color-1{ color: var(--color-1); }
.color-2{ color: var(--color-2); }
.color-3{ color: var(--color-3); }
.color-4{ color: var(--color-4); }

.main-title{ font-size: var(--main-title-size); }
.sub-title{ font-size: var(--sub-title-size); }

.mrg-t-l{ margin-top: var(--mrg-t-l);}
.mrg-t-m{ margin-top: var(--mrg-t-m);}
.mrg-t-h{ margin-top: var(--mrg-t-h);}

body{
    background-image: url("../img/background.png");
    background-size: 100%;
}

/* Background fixed images*/
.back-static, .back-moveable{
    position: fixed;
    z-index: 1;
}
.back-moveable{ 
    z-index: 2; 
    filter: blur(0.8px) drop-shadow(60px 60px 100px rgba(32, 33, 36, 0.58));
    transform: translate(var(--x, 0px), var(--y, 0px));
    top: calc(50% - 200px);
}
#back1{ top: calc(50% - 425.5px); }
#back2{ top: calc(50% - 390px); right: 0px;}
/*#backMoveable1{}*/
#backMoveable2{ 
    right: 0px;  
}

/*Main content of site
    .content - main container
*/
.content{
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    z-index: 10;

    width: 100%;
    min-width: var(--content-min-width);

    padding: 50px 0;
}
article{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 55%;
    max-width: var(--article-max-width);
    min-width: var(--article-min-width);
}
.logo{
    align-self: center;
    width: 135px;
    height: 62px;
}
.arrow-down{ position: relative; }
.arrow-down::after {
    position: absolute;
    top: 40px;
    left: calc(50% - 5.5px);
    content: "";
    display: block;
    width: 11px;
    height: 11px;
    border: 3px solid var(--color-1);
    border-top: none;
    border-left: none;
    transform: rotate(45deg);
}
.gender-choose {
    display: flex;
    flex-direction: row;
}
.female, .female div{
    background: linear-gradient(88.33deg, rgba(251, 162, 79, var(--opacity)) -7.64%, rgba(255, 30, 30,var(--opacity)) 145.94%);
}
.male, .male div{
    background: linear-gradient(88.33deg, rgba(141, 82, 255, var(--opacity)) -7.64%, rgba(93, 225, 230, var(--opacity)) 145.94%);
}
.female ~ .male{
    margin-left: 35px;
}
.gender-icon, .gender-icon div{
    width: 270px;
    height: 270px;
    border-radius: 100%;
    padding: 25px;
    --opacity: 0.2;
}
.gender-icon div{
    width: 100%;
    height: 100%;
    padding: 10%;
    --opacity: 0.5;
}
div.gender{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    --opacity: 1;
}
.gender img{
    position: absolute;
    top: 0;
    left: 0;
}
.gender span{
    margin-top: 65%;
    font-size: 18px;
}

footer{
    width: 100%;
    padding-bottom: 50px;
}
.footer-text{
    font-size: 14px;
}

.status-bar-container{
    --status: "12%";
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border-radius: 90px;
    padding: 0 30px;

    width: 55%;
    height: 90px;
    max-width: var(--article-max-width);
    min-width: var(--article-min-width);

    background: #F0F1F5;
    box-shadow: -8.90123px -8.90123px 26.7037px #FFFFFF, 13.3518px 13.3518px 26.7037px rgba(174, 174, 192, 0.4);
    border-radius: 7
}
.status-bar-container::before{
    position: absolute;
    top: -42px;
    left: calc(50% - 168px / 2);
    width: 168px;
    height: 42px;
    content: var(--status);
    display: inline-block;
    background: url(../img/wave.svg);
    text-align: center;
    padding-top: 12px;
    box-sizing: border-box;
}
.status-bar-container > button{
    width: 150px;
    height: 50px;
    border: none;
    margin: 15px 0;
    border-radius: 50px;
    background: var(--color-3);
    font-size: 18px;
}
.status-bar{
    --max-count: 6.0;
    --current-count: 1.0;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    box-sizing: border-box;

    position: relative;
    top: -20px;

    height: 50px;
    width: calc(100% - 360px);
    margin: 0 30px;
    padding-left: calc(((100% - 420px) / var(--max-count)));
    border-bottom: 2px solid #cccccc;
}
.status-bar::before{
    content: "";
    display: inline-block;
    position: absolute;
    top: 48px;
    left: 0;
    width: calc(100% / var(--max-count) * var(--current-count));
    height: 2px;
    background: linear-gradient(88.33deg, #FB4F4F -7.64%, #FFCD1E 145.94%);;
}
.status-bar > li{
    --color: #cccccc;
    --content: "physical activity";
    position: relative;
    top: 40px;
    width: 18px;
    height: 18px;
    padding: 3px; 
    background: var(--color);
    box-sizing: border-box;
    border-radius: 18px;
}
.status-bar > li.active::before{
    position: absolute;
    top: -27px;
    left: -91px;
    content: var(--content);
    display: inline-block;
    width: 200px;
    text-align: center;
    font-size: 14px;
}
.status-bar > li::after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: white;
    display: block;
}
.status-bar > li.active{
    --color: linear-gradient(88.33deg, #FB4F4F -7.64%, #FFCD1E 145.94%);
}
.status-bar > li:first-of-type{
}